<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-10">
                    <input *ngIf="config.filtering" placeholder="Search record by Invoice#" [ngTableFiltering]="config.filtering"
                        class="form-control" (tableChanged)="onChangeTable(config)" />
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" [routerLink]="['/app-add-patient']">New Consignment</button>
                    <!-- <button class="btn btn-danger" (click)="print()">Print Page</button> -->
                </div>
            </div>
            <br>
            <div class="row-fluid">

                <ng-table id="print-section" class="sortable" [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)"
                    [rows]="rows" [columns]="columns">
                </ng-table>

                <div class="text-center">
                    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                        [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                        (numPages)="numPages = $event">
                    </pagination>
                </div>

            </div>

        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->